# Supabase project settings
VITE_SUPABASE_URL=https://gwwsjcoqdmvddebjbjlc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3d3NqY29xZG12ZGRlYmpiamxjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NTYyNzMsImV4cCI6MjEwMzMzMjI3M30.A9omtWjl6bpTD7ajMTcgxI8KP7Kig0GwVpGAIQj4KyQ
